<div id="block_social_links">
    <h4>{l s='FOLLOW US AT'}<h4>
            <ul>
                <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"</i></li>
                <li><i class="fa fa-pinterest-square" aria-hidden="true"</i></li>
                <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
            </ul>
</div>