.featured-category .row .col-md-4 {
    margin-bottom: -2.8vh;
    padding-bottom: 1.35vh;
}
#featuredH1{
    float: left;
    font-size: 5.336179295624333vh;
    letter-spacing: 0.02em;
    font-weight: 901;
    padding-top: 4.296455424274973vh;
    margin-bottom: -0.9vh;
    /*padding-bottom: 2.07vh;*/
}

#categoryRow .col-md-4 {
    float: left;
    display: block;
    padding: 0vh 2vh 0vh 0vh;
}

#categoryRow .col-md-4 img {
    width: 100%;
    height: auto;
    text-align: center;
}

.contain {
    margin: 0 auto;
    width: 44.823906083244395vh;
    height: auto;
}

.categoryRow {
    margin-top: 2vh;
}

#categoryRow {
    margin: 0 auto;
    width: 140.8751334044824vh;
    height: auto;
}

