html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
html,
body {
  overflow-x: hidden;
  overflow-yex: hidden;
}

.material-icons {
  font-size: 2.5613660618996796vh;
}

/*.container {*/
/*  margin: 0 auto;*/
/*}*/

h1 {
  font-weight: 901;
}

p {
  line-height: 1.6;
}

/*HEADER*/

.search-widget form {
  margin-top: 3.5vh;
}

#header .menu,
#header .menu > ul > li {
  margin-top: 1.5vh;
}

#header {
  background-color: #e81200;
  color: #000;
  height: 150px;
}
#header .header-nav {
  border-bottom: none;
  max-height: 5.336179295624333vh;
  margin-bottom: 3.2017075773746vh;
}

#header .header-nav .blockcart {
  background: #e81200;
}

#header .logo {
  margin-top: -6vh;
  margin-left: 5.155746509129968vh;
  width: 114px;
  height: 114px;
  max-width: 300%;
}

#header .header-top .position-static {
  height: 3vh;
}

#header .header-top {
  height: 5.869797225186766vh;
  margin-top: 1.1739594450373532vh;
}

#header .top-menu a[data-depth="0"]:hover {
  color: #00d5e8;
}

.top-menu .popover {
  background: #fff;
}

#header a {
  color: #fff;
}

#header li a {
  color: #fff;
  font-size: 1.7075773745997866vh;
}

#header .header-top a[data-depth="0"] {
  color: #fff;
  text-transform: none;
  font-size: 2.5613660618996796vh;
  font-weight: normal;
}

#header .header-top>.container {
  position: relative;
}

aside#notifications {
  background-color: #E71200;
}


/*#header .header-nav .user-info {*/
/*margin-right: 10.5vh;*/
/*}*/

.header-nav {
  background: #e81200;
}

.header-top .search-widget form input[type="text"]:focus {
  outline: 0.1275rem solid #e81200;
  border-color: #e81200;
}

.user-info .top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header-top .search-widget form input[type="text"] {
  width: 14.31vh;
  height: 2.8vh;
  margin-left: 20vh;
}

.search-widget form button[type="submit"] {
  bottom: 0vh;
  right: -0.5vh;
  color: #7a7a7a;
}

/*END OF HEADER*/

/*CAROUSEL*/

.carousel {
  width: 139.63480128893661vh;
  height: 46.18689581095596vh;
  margin-bottom: 0rem;
}

.carousel .carousel-inner {
  height: auto;
  width: 100%;
}

.carousel .carousel-item img {
  width: 100%;
}

/*END OF CAROUSEL*/

/*MAIN PAGE*/
#products .products,
.featured-products .products,
.product-accessories .products,
.product-miniature .products {
  justify-content: center;
}
/*END OF MAIN PAGE*/


/*CATEGORIES*/
.block-categories {
   box-shadow: none;
  background: #fff;
   padding: 0px 0px;
  margin-bottom: 1.563rem;
}

#categoryHead {
  font-weight: 901;
  font-size: 50px;
  margin-left: -0.322234156820623vh;
}


/*END OF CATEGORIES*/


/* CART */
.header {
  margin-top: -5.5vh;
  margin-right: -13vh;
  float: right;
  color: white;
  margin-top: -4vh;
}

.cart-grid-body h1 {
  font-size: 2rem;
}

.shopping-cart,
.favorite {
  font-size: 3.8vh;
  cursor: pointer;
}
.shopping-cart:hover,
.favorite:hover,
.user-info a:hover,
#header a:hover {
  color: #00d5e8;
}

#cart {
  padding-left: 0.4vh;
}

/* END OF CART */

#_mobile_top_menu ul {
  color: #fff;
}

.dropdown-item li a {
  color: #363a42;
}

/*FOOTER*/

#footer {
  padding-top: 0;
}

.footer-container {
  background-color: #e81200;
  margin-top: 0;
}

.footer-container .h3,
#block_myaccount_infos .myaccount-title a,
.block-contact .block-contact-title,
.footer-container a {
  color: #fff;
}

.footer-container li a {
  color: #fff;
  font-size: 1rem;
}

.footer-container a:hover {
  color: #fafafa;
}

.footer-container .container #footerlinks {
  text-align: left;
  /*margin-left: 12vh;*/
}

.footer-container .container #footerlinks .links,
.footer-container .container #footerlinks .links wrapper {
  text-align: left;
  margin-left: 1vh;
}

.links .collapse {
  font-weight: bold;
}

#copyright {
  margin-left: 0.5vh;
}

/*END OF FOOTER*/

.text-sm-center {
  color: #fff;
  background: #e81200;
  /*float: left;*/
}

#wrapper {
  background: #ffffff;
  padding-top: 2.1482277121374866vh;
  margin: 0 auto;
}

.logo img-responsive {
  padding-bottom: 10px;
}

#top-menu {
  margin-left: 13.767342582710778vh;
}

#top-menu li a {
  color: #000;
}

#top-menu li a:hover {
  color: #e81200;
}

/* SEARCH BAR */
.search-widget {
  margin-top: -1.2vh;
}

.search-widget form button[type="submit"] {
  border-left: 1px;
}
/* END OF SEARCH BAR */

/*.position-static {*/
/*  margin-top: 11px;*/
/*}*/

.right-nav,
#_desktop_language_selector {
  color: #fff;
}

.user-info {
  font-weight: bold;
}

.clearfix {
  background: none;
  text-align: center;
}

.shopping_location,
#locationText {
  color: #fff;
  margin-top: 3vh;
  margin-left: 14.5vh;
  font-size: 1.7075773745997866vh;;
}

/*FOOTER*/

.footer-container {
  color: #fff;
}

#block_social_links {
  color: #fff;
}

#block_social_links li {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  background-position: 0.25rem 0.25rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

#block_social_links li:hover {
  color: #00d5e8;
}

#block_social_links li i {
  font-size: 3.651987110633727vh;
  margin-right: -13px;
  padding-right: 2.0408163265306123vh;
}

.smart_display {
  margin-left: 2px;
}
/*END OF FOOTER*/

/*BUTTONS*/
.btn-primary {
  background-color: #e81200;
}

.btn-primary:hover {
  background-color: #cf3729;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #e81200;
  border-color: transparent;
}

.btn-outline-primary.active.focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.active:hover,
.btn-outline-primary:active.focus,
.btn-outline-primary:active:focus,
.btn-outline-primary:active:hover,
.open > .btn-outline-primary.dropdown-toggle.focus,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #e81200;
  border-color: #175c6a;
}

/*END OF BUTTONS*/

/*LOGIN-FORM*/

#content {
  width: 100%;
  text-align: center;
}


#loginHeaderTitle {
  padding-bottom: 33px;
}

#loginHeaderTitle h1 {
  color: #252525;
  text-align: left;
}

.login-form .row {
  margin-left: -2vh;
}

.input-group .input-group-btn > .btn[data-action="show-password"] {
  background: #e81200;
  padding: 0.78rem 1rem;
}

#login-form {
  text-align: center;
}
#login-form .btn-primary {
  box-shadow: none;
  width: 48%;
}

#login-form label {
  font-weight: bold;
  font-size: 20px;
}

.page-customer-account #content .forgot-password {
  font-size: 16px;
}

.form-control:focus,
.input-group.focus {
  outline: 0.1275rem solid #e81200;
  border-color: #e81200;
}

#main .card {
  border: none;
  box-shadow: none;
}

#main .page-content,
#main .page-header {
  margin-top: 0vh;
}

.no-account button a {
  color: #fff;
}

.no-account .btn-primary {
  width: 48%;
  box-shadow: none;
}

.no-account {
  padding-top: 0rem;
}

.page-authentication #content {
  max-width: 54rem;
}

.social-buttons .btn-secondary {
  width: 48%;
}

.social-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#googleBtn {
  background-color: #ebebeb;
  box-shadow: none;
}

#facebookBtn {
  background-color: #455b93;
  color: #fff;
  box-shadow: none;
}

.login-header h1 {
  font-size: 2rem;
}

#section i {
  float: left;
}

/*END OF LOGIN-FORM*/

/*REGISTER FORM*/

#registerHeaderTitle {
  padding-bottom: 33px;
}

#registerHeaderTitle h1 {
  color: #252525;
  text-align: left;
}


/*END OF REGISTER FORM*/

/*LINKS*/
a {
  color: #e81200;
}

a:hover {
  color: #cf3729;
}
/*END OF LINKS*/

/*ABOUT US*/

#aboutTitle,
#gvalueTitle
{
  margin-top: 35px;
}
.page-content {
  margin-top: -4vh;
}

.page-content.page-cms {
  padding: 0;
}

.page-content.page-cms ul,
p {
  color: #1a1515;
  font-size: 20px;
}

.page-content h1 {
  font-size: 50px;
}

#aboutUsRow {
  width: 139.63480128893661vh;
}

/*END OF ABOUT US*/

/*FOOTER*/
#footerContactus span {
  color: #fff;
  font-size: 0.8333333333333334vw;
}
/*END OF FOOTER*/

/*BANNER IMAGES*/

#bannerImg img {
  width: 100%;
  height: auto;
}

.pageBanner {
  width: 139.63480128893661vh;
  height: 46.18689581095596vh;
  margin-bottom: 3.7593984962406015vh;
}

/*END OF BANNER IMAGES*/

/*CART*/

#details h2 {
  padding: 2vh 0 0 2vh;
}

.cart-summary,
.cart-summary .card-block {
  background-color: #fff;
  border-radius: 0;
  background-color: #f1f1f1;
}
.cart-totals {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 7vh;
}

.card-block.cart-summary-totals .cart-summary-line.cart-total {
  background: none;
}

.checkout button:disabled {
  background-color: #e81200;
}

/*END OF CART*/

/*REGISTER FORM*/
.custom-radio input[type="radio"]:checked + span {
  background-color: #e81200;
}

.regButton button {
  text-align: center!important;
}

/*END OF REG FORM*/

/*FAQ PAGE*/

.faqrow1 {
  margin-top: 35px;
}

.faqrow {
  margin-top: 75px;
  color: #1a1515;
}

.faqrow h3, .faqrow1 h3 {
  font-size: 24px;
  font-weight: 901;
  /* padding-bottom: 0.5vh; */
}

.faqrow p, .faqrow1 p {
  font-size: 16px;
}

/*END OF FAQ PAGE*/

/*PAYMENT PAGE*/
ul#paylogos li {
  display: inline;
}

ul#paylogos li img {
  width: 23%;
  height: auto;
}

.paymentrow {
  margin-top: 2vh;
}

#paymentheader h1 {
  margin-top: 4vh;
}

#par {
  margin-top: 3.5vh;
}

/*END OF PAYMENT PAGE*/

/*CAREER PAGE*/

#content #careerBody #tabButtons {
  text-align: left;
}

ul#tabButtons li {
  display: inline;
  margin-right: 1.5vh;
}

ul#tabButtons .btn-danger {
  background-color: #e81200;
  border-color: #e81200;
  font-weight: 901;
  font-size: 24px;
}
ul#tabButtons .btn-danger:hover {
  background-color: #cf3729;
  border-color: #cf3729;
}
#bodyCareerLists h1 {
  margin-top: 4vh;
}

.careerLists {
  margin-top: 4vh;
}

.careerLists .col-md-4 h2 {
  font-size: 24px;
  font-weight: 901;
}

.careerLists .col-md-4 p {
  font-size: 16px;
  margin-bottom: 0;
}

.careerLists ul li {
  font-size: 16px;
}

#reqList,
#appLists {
  list-style: none;
  margin: 0;
  padding: 0;
}

#reqList li,
#appLists li {
  font-size: 16px;
}

#applyFooter ul li {
  margin-bottom: 0.2vh;
}

#applyFooter h2 {
  font-size: 24px;
  font-weight: 901;
}

#appLists .btn-danger {
  background-color: #e81200;
  border-color: #e81200;
  width: 50%;
  height: auto;
  font-size: 24px;
  font-weight: 901;
  margin-top: 20px;
}
#appLists .btn-danger:hover {
  background-color: #cf3729;
  border-color: #cf3729;
}

.applyFooter ul {
  list-style-type: none;
}

.careerLists .col-md-4 p {
  text-align: left;
}

/*END OF CAREER PAGE*/

/*IDEAS PAGE*/

/*.ideaThumbnail {*/
/*  width: 17rem;*/
/*}*/

.ideasRow {
  margin-bottom: 40px;
}

.ideasRow img {
  width: 100%;
  height: auto;
}

.ideasRow h3 {
  font-weight: 901;
  font-size: 24px;
}

.ideasRow p {
  font-size: 1.7075773745997866vh;
  margin-bottom: 0px;
}

#ideasTitle
{
  margin-top: 35px;
}

/*END OF IDEAS PAGE*/
hr {
  height: 0.2vh;
  background-color: #ccc;
  border: none;
}

/*FOOTER PAGE*/



/*END OF FOOTER PAGE*/

@media (min-width: 1200px) {
  .container {
    width: 144vh;
    max-width: 100%;
  }

  #header .row {
    /*margin-right: -10vh;*/
    margin-left: -7vh;
  }

  .footer-container .row {
    margin-left: -2vh;
  }
}

.add button span {
  padding-top: 2px;
  vertical-align: middle;
}

#productBtn div .btn-primary {
  height: 2.75rem;
  line-height: inherit;
  padding-top: 0.625rem;
}

#productBtn div {
  margin-right: 1vh;
}

/*PRODUCT SELECT*/

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
  border-bottom: 3px solid #e81200;
}

.tabs .nav-tabs .nav-link.active {
  color: #e81200;
}

.has-discount .page-content.page-cms ul,
.has-discount.product-price,
.has-discount p,
.page-content.page-cms .has-discount ul {
  color: #e81200;
}

.product-discount .regular-price {
  text-decoration: none;
  color: #e81200;
  font-weight: bold;
}

.thumb-container img {
  width: 30%;
  height: auto;
}

.product-images > li.thumb-container > .thumb.selected,
.product-images > li.thumb-container > .thumb:hover {
  border: 3px solid #e81200;
}

.social-sharing li a {
  margin-left: -36%;
  margin-top: 15%;
  display: flex;
  font-size: 5vh;
}
.social-links ul li {
  display: inline;
  margin-right: 2%;
}

/*END OF PRODUCT SELECT*/

@media (max-width: 767px) {

  #top-menu {
    margin-left: 0;
  }

  .text-sm-center {
    text-align: center!important;
  }
  #header .header-nav .top-logo a img {
    margin-left: 0px;
    margin-top: -5px;
  }

  #header.is-open,
  #header.is-open .header-top {
    background-color: #e81200;
  }

  #header .header-top a[data-depth="0"] {
    color: #232323;
  }

  #header .top-menu a[data-depth="0"]:hover {
    color: #e81200;
  }


  /*#header .header-top .position-static {*/
  /*  height: 60px;*/
  /*  background: #e81200;*/
  /*}*/

  .header-top .search-widget form input[type="text"] {
    margin-top: 10px;
  }

  .search-widget {
    min-width: 10.63rem;
    height: auto;
  }

  /*CAREERS*/

  ul#tabButtons li button {
    width: 100%;
    height: auto;
    margin-bottom: 1.5vh;
  }

  #tabButtons {
    margin-bottom: 0px;
  }

  #bodyButtons {
    margin-top: 3.7593984962406015vh;
  }


  /*END OF CAREERS*/

  /*LOGIN PAGE*/

  #googleBtn,
  #facebookBtn,
  #login-form .btn-primary,
  .no-account .btn-primary {
    width: 100%;
    font-size: 0.9rem;
  }

  /*END OF LOGIN PAGE*/


  .links .title {
    padding: 0.625rem;
    border-bottom: none;
    cursor: pointer;
    text-align: left;
  }

  /*FOOTER MOBILE*/
  .footer-container .container #footerlinks {
    margin-left: -2.5vh;
  }

  #block_social_links {
    margin-left: 1.5vh;
  }

  /*END OF FOOTER*/
}

@media (min-width: 576px){
  .text-sm-center {
    text-align: center!important;
  }
}
