<div class="user-info">
    <a class="contactus" href="{$urls.pages.contact}" rel="nofollow" title="{l s='Contact the website administrator' d='Shop.Theme.Customeraccount'}">{l s='Contact us' d='Shop.Theme.Actions'}</a>
</div>