#featuredIdeaH1 {
    float: left;
    font-size: 5.336179295624333vh;
    letter-spacing: 0.02em;
    font-weight: 901;
    padding-top: 4.296455424274973vh;
    margin-bottom: 2.1482277121374866vh;
}

#ideasRow {
    margin: 0 auto;
    width: 140.8751334044824vh;
    height: auto;
}

#ideasRow .col-md {
    float: left;
    display: block;
    padding: 0vh 2vh 0vh 0vh
}

#ideasRow .col-md ul li{
    width: 44.823906083244395vh;
    height: auto;
    margin: 0 auto;
}

#ideasRow .col-md img {
    width: 100%;
    height: auto;
    text-align: center;
}

.ideasP {
    margin-bottom: 0;
}

.ideasSpan a {
    color: #0000ff;
    font-weight: bold;
}
 .ideasH2 {
     text-align: left;
     padding-top: 2.07vh;
     font-size: 1.25vw;
     font-weight: 901;
     font-size: 2.5613660618996796vh;
 }

 .ideasP, .ideasSpan a {
     font-size: 1.7075773745997866vh;
 }

