
.featured-product .row .col-md-4 {
    margin-bottom: -2.8vh;
    padding-bottom: 13px;
}

#featuredProductH1 {
    float: left;
    font-size: 5.336179295624333vh;
    letter-spacing: 0.02em;
    font-weight: 901;
    padding-top: 6.296455424274973vh;
    margin-bottom: 1.1815252416756177vh;
    padding-bottom: 1vh;
}

/*#prodList li {*/
.productRow .row .col-sm {
    float: left;
    display: block;
    text-align: center;
    padding: 0vh 2vh 0vh 0vh
}

.productRow .row{
    margin: 0 auto;
    width: 140.8751334044824vh;
    height: auto;
}

/*#prodList li img {*/
.productRow .row .col-sm img {
    width: 100%;
    height: auto;
}

#desc {
    margin-top: 0.4rem;
}

#desc p, #price {
    font-size: 1.7075773745997866vh;
    font-weight: bold;
}

#description {
    text-align: left;
    margin-bottom: 0.17075773745997866vh;
}

#price{
    float: left;
    font-weight: bold;
    margin-bottom: 0rem;
}

.prodContain {
    margin: 0 auto;
    width: 21.34471718249733vh;
    height: auto
}

#desc p {
    line-height: 1.2;
}