<div id="categoryBanner">
    <p><img src="http://192.168.87.71/prestamerge/img/ecommimages/About Us 1300 x 430.jpg" alt="careers banner" width="100%" style="margin-left: auto; margin-right: auto;" /></p>
</div>
